.elem {
    border: solid #07b1c7 3px;;
    border-radius: 8px;
    position: relative;
}

.label,
.endlabel {
    position: relative;
    color: #ffffff;
    line-height: 1em;
    font-family: monospace;
    font-size: large;
}